body {
    margin: 0;
    padding: 0;
    background: #0b1020;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background: #111827;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #00ff88;
}

.dashboard {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

#status {
    margin-top: 20px;
    font-size: 22px;
    color: yellow;
}

#prediction {
    margin-top: 20px;
    font-size: 18px;
    color: #00ff88;
}
