*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#151326;
    color:#ffffff;
}

header{
    background:#20193d;
    color:#b57cff;
    text-align:center;
    padding:20px;
    font-size:32px;
    font-weight:bold;
    border-bottom:2px solid #7b3fe4;
}

.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#241b45;
    border:1px solid #6b46c1;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 0 15px rgba(123,63,228,.25);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(181,124,255,.5);
}

.card h2{
    color:#c084fc;
    margin-bottom:15px;
}

.card p{
    color:#ffffff;
    font-size:24px;
    font-weight:bold;
}

#status{
    color:#facc15;
}

#prediction{
    color:#22c55e;
}

#confidence{
    color:#a855f7;
}

#time{
    color:#60a5fa;
}
