PORT=3000
NODE_ENV=production

DERIV_CLIENT_ID=3497VuTj19Rut2cz78ouv
DERIV_REDIRECT_URI=https://georgeiphone704-cyber.github.io/gtraderme

FRONTEND_ORIGIN=https://georgeiphone704-cyber.github.io

SESSION_SECRET=REPLACE_THIS_WITH_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
